.operations-container{

}
.card-wrapper{
    height: 50%;
    /* width: 100%; */
    /* border: solid pink; */
    display: flex;
    box-sizing: border-box;
    overflow: scroll;
    justify-content: flex-start;
    background: #FDFBF9;
    align-items: center;
    flex-wrap: wrap;
}