.app-container{
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
.nav-container{
  border: solid 2px red;
  height: 100%;
  width: 30%;
  box-sizing: border-box;
}
.wall-container{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: scroll;
  background: #FDFBF9;
  /* margin-left: 20px; */
}